.filters {
  background-color: #FFF;
  padding: 18px 0 110px;

  @include tablet { padding: 57px 0 130px; }

  &__container {
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__filter {
    display: flex;
    flex-direction: column;
    position: relative;

    &:not(:first-of-type){ margin-top: 110px; }

    @include tablet {
      width: 24%;

      &:not(:first-of-type){ margin-top: unset; }
    }
  }

  &__icon-wrapper { min-height: 75px; }

  &__icon {
    height: auto;

    &--sun,
    &--dog { width: 75px; }

    &--wateringcan { width: 103px; }
  }

  &__description {
    color: #848484;
    font-size: 1.4rem;
    line-height: 2.2rem;
    margin-top: 6px;
  }
}