@import './normalize.scss';
@import './variables.scss';
@import './mixins.scss';

// Application stylers
@import './filters.scss';
@import './hero.scss';
@import './dropdown.scss';
@import './results.scss';
@import './loading.scss';

html {
  font-size: 62.5%;
  scroll-behavior: "smooth";
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #F2F2F2;
}

.container {
  margin: auto;
  width: 78%;

  @include tablet { max-width: 900px; }
}